<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs-admin/tab6"></ion-back-button>
        </ion-buttons>
        <ion-title> Registrar de Usuario </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form">
        <div class="contenedor">
            <p style="font-size: 12px; color: black;" class="ion-text-center">Por favor ingrese la información del usuario a registrar</p>

            <form class="ion-padding" autocomplete="off" (ngSubmit)="registerUser(forma)" #forma="ngForm">

                <ion-item>
                    <ion-label position="floating" style="font-size: 14px; color: rgb(68, 65, 65);"> Username </ion-label>
                    <ion-input class="input" type="text" name="username" required [(ngModel)]="usuario.username" #username="ngModel"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" style="font-size: 14px; color: rgb(68, 65, 65);"> Nombre </ion-label>
                    <ion-input class="input" type="text" name="firstName" required [(ngModel)]="usuario.firstName" #firstName="ngModel"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" style="font-size: 14px; color: rgb(68, 65, 65);"> Apellidos </ion-label>
                    <ion-input class="input" type="text" name="lastName" required [(ngModel)]="usuario.lastName" #lastName="ngModel"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" style="font-size: 14px; color: rgb(68, 65, 65);"> Email </ion-label>
                    <ion-input class="input" type="email" name="email" required [(ngModel)]="usuario.email" #email="ngModel"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" style="font-size: 14px; color: rgb(68, 65, 65);"> Password </ion-label>
                    <ion-input class="input" type="password" name="password" required [(ngModel)]="usuario.password" #password="ngModel"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" style="font-size: 14px; color: rgb(68, 65, 65);"> Numero de Telefono </ion-label>
                    <ion-input class="input" type="number" name="phoneNumber" required [(ngModel)]="usuario.phoneNumber" #phoneNumber="ngModel"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" style="font-size: 14px; color: rgb(68, 65, 65);"> Género </ion-label>
                    <ion-select name="gender" required style="font-size: 12px;" [(ngModel)]="usuario.gender" #gender="ngModel">
                        <ion-select-option value="Femenino">Femenino</ion-select-option>
                        <ion-select-option value="Masculino">Masculino</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" style="font-size: 14px; color: rgb(68, 65, 65);"> Role </ion-label>
                    <ion-select name="gender" required style="font-size: 12px;" [(ngModel)]="usuario.role" #gender="ngModel">
                        <ion-select-option value="ADMIN_ROLE"> Administrador </ion-select-option>
                        <ion-select-option value="USER_ROLE"> Usuario Estandar </ion-select-option>
                    </ion-select>
                </ion-item>


                <div class="container-form-btn">
                    <button type="submit" class="form-btn custon-font"> REGISTRAR USUARIO </button>
                </div>

            </form>

        </div>

    </div>

</ion-content>