<!--<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title style="color:rgb(247, 244, 240); margin-top: 1%;">
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>-->

<ion-content>
    <div class="card-container body">
        <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
        <h6>New York</h6>
        <p>User interface designer and <br/> front-end developer</p>
        <div class="buttons">
            <button class="primary">
                Editar
            </button>
            <button class="primary ghost">
                Eliminar cuenta
            </button>
            <br> <br><br><br><br><br>
            <button class="primary ghost2" (click)="logOut()" style="margin: 4%">
                Cerrar sesion
            </button>
        </div>
    </div>


</ion-content>