<!--<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title style="color:rgb(247, 244, 240); margin-top: 1%;">
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>-->

<ion-content>
    <div class="card-container body">
        <img class="round" src='../../assets/img/iconoUser.png' alt="user" />
        <h6></h6>
        <p> <br/> </p>
        <div class="buttons">
            <!-- <button class="primary">
                Editar
            </button>
            <button class="primary ghost">
                Eliminar cuenta
            </button>-->
            <br> <br><br><br><br>
            <button class="primary ghost2" (click)="logOut()" style="margin-top: 2%">
                Cerrar sesion
            </button>
        </div>
    </div>


</ion-content>