ion-toolbar {
    //--background: rgb(77, 46, 134);
    --background: rgba(61, 17, 90, 0.932);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 70px;
}

ion-toolbar {
    ion-title {
        text-align: left;
        padding-left: 5%;
        font-family: 'Roboto';
    }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #1b1c1d;
    padding-top: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.card-container .pro {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card-container .round {
    border: 1px solid black;
    border-radius: 50%;
    padding: 7px;
}

button.primary {
    background: linear-gradient(90deg, rgba(234, 50, 22, 0.26) 100%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 4%;
    padding: 10px 25px;
}

button.primary.ghost {
    //background-color: transparent;
    background: linear-gradient(90deg, rgba(234, 223, 22, 0.384) 100%, rgba(255, 255, 255, 0) 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
}

button.primary.ghost2 {
    //background-color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(90deg, rgba(22, 167, 234, 0.2) 100%, rgba(255, 255, 255, 0) 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
}