ion-toolbar {
    //--background: rgb(77, 46, 134);
    --background: rgba(61, 17, 90, 0.932);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 70px;
}

ion-toolbar {
    ion-title {
        text-align: left;
        padding-left: 5%;
        font-family: 'Roboto';
    }
}

// ---------------------- CALENDAR ---------------------- //