<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title style="color:rgb(247, 244, 240); margin-top: 1%;">
            Tareas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <form class="ion-padding" autocomplete="off" (ngSubmit)="addToDoL(forma)" #forma="ngForm">

        <ion-item>
            <ion-label position="floating" style="font-size: 14px; color: rgb(68, 65, 65);"> Tarea a agregar </ion-label>
            <ion-input class="input" type="text" name="username" required [(ngModel)]="toDoListM.description" #description="ngModel"></ion-input>
        </ion-item>

        <div class="container-form-btn">
            <ion-button type="submit" class="form-btn custon-font" color="warning"> Agregar </ion-button>
        </div>

    </form>
    <br><br>
    <!--<h4 style="text-align: center;">Lista de Tareas</h4>-->

    <ion-card class="card2" *ngFor="let tasks of tasksList; let i = index">
        <h4 style="text-align: center;">{{tasks[0+1].description}} </h4>
        <ion-card-content style="padding-top: 0%;">
            <div style="display: flex;">
                <div style="text-align: left; width: 50%;">
                    <p>
                        <ion-icon style="color: rgb(163, 162, 162);" name="location-outline"></ion-icon> Aguascalientes</p>
                </div>
                <div style="text-align: right; width: 50%;">
                    <ion-button color="danger" style="float: right; margin-right: 1%;">
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </ion-card-content>
    </ion-card>


</ion-content>