<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs-admin/tab6"></ion-back-button>
        </ion-buttons>

        <ion-title> Lista de Usuarios </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let userC of users; let i=index">
        <ion-card-header>
            <!--<th scope="row">{{i+1}}</th>-->
            <ion-card-subtitle>{{userC.email}}</ion-card-subtitle>
            <ion-card-title>{{userC.username}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{userC.firstName}} {{userC.lastName}}
        </ion-card-content>
    </ion-card>
</ion-content>