<!--<ion-header>
    <ion-toolbar>
        <ion-title>homeUser</ion-title>
    </ion-toolbar>
</ion-header>-->

<ion-content>
    <!--<h1> ¡Bienvenido {{appService.userName}}! </h1>
    <ion-button (click)="logOut()"> CERRAR SESION </ion-button>-->
    <div id="particle-container">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
    </div>

    <div class="contenedor">
        <h2 style="font-size: 30px; font-weight: bold; color:rgb(247, 244, 240); margin-bottom: 4%;">PLAN-IT</h2>
        <!--<p style="color:rgba(255, 255, 255, 0.836)"> ¡Bienvenido {{appService.userName}}!</p>-->
        <button class="form-btn custon-font" (click)="irTab()"> 
          <!-- routerLink necesita '' para saber a dónde dirigirse además de las "" -->
          Iniciar
        </button>
        <p style="color:rgba(255, 255, 255, 0.836); margin-top: 4%;">¿Qué te gustaría programar hoy o mañana?</p>
    </div>

    <div class="clock"></div>

</ion-content>